[submodule "businesstoken"]
	path = services/businesstoken
	url = git@github.com:con-ceptive/retailplanet.io-backend-businesstoken.git
[submodule "services/businessapi"]
	path = services/businessapi
	url = git@github.com:con-ceptive/retailplanet.io-backend-businessapi.git
[submodule "services/userauth"]
	path = services/userauth
	url = git@github.com:con-ceptive/retailplanet.io-backend-userauth.git
