[submodule "businesstoken"]
	path = services/businesstoken
	url = git@github.com:con-ceptive/retailplanet.io-backend-businesstoken.git
[submodule "services/businessapi"]
	path = services/businessapi
	url = git@github.com:con-ceptive/retailplanet.io-backend-businessapi.git
[submodule "services/userauth"]
	path = services/userauth
	url = git@github.com:con-ceptive/retailplanet.io-backend-userauth.git
[submodule "services/markets"]
	path = services/markets
	url = git@github.com:con-ceptive/retailplanet.io-backend-markets.git
[submodule "services/products"]
	path = services/products
	url = git@github.com:con-ceptive/retailplanet.io-backend-products.git
[submodule "services/elasticsearch"]
	path = services/elasticsearch
	url = git@github.com:con-ceptive/retailplanet.io-backend-elasticsearch.git
