# IntelliJ
/.idea/*
!/.idea/codeStyles
!/.idea/runConfigurations
!/.idea/vcs.xml
*.ipr
*.iml
*.iws

# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
release.properties

# Docker Data
.h2
.mongodb
.elastic
services/businesstoken/ObjectStore